[submodule "Remote-Controlled-Car"]
	path = Remote-Controlled-Car
	url = https://github.com/BU-EC444/Quest6-Team15-Xu-Devlin-Malikayil.git
[submodule "Self-Navigating-Car"]
	path = Self-Navigating-Car
	url = https://github.com/BU-EC444/Quest4-Team15-Xu-Devlin-Malikayil.git
[submodule "Swiss-Army-Tape-Measure"]
	path = Swiss-Army-Tape-Measure
	url = https://github.com/BU-EC444/Quest2-Team15-Xu-Devlin-Malikayil
[submodule "Smart-Thermostat-System"]
	path = Smart-Thermostat-System
	url = https://github.com/gerarddevlin/Smart-Thermostat-System.git
